<a href="https://colab.research.google.com/github/Udo-Eng/HamoyeQuizSolution/blob/master/AbazieUdochukwu_Solutions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Extracting the Data
import pandas as pd 


#File was uploaded to google colab and renamed to  FoodBalance.csv
path = 'FoodBalance.csv'


data = pd.read_csv(path,encoding='utf-8')


#Grouping By Item 
sumValue = data.groupby('Item').sum()

#Print the value of sum to Obtain Total sum of animal Fat
print(sumValue)

                     Area Code  Item Code  ...      Y2017      Y2018
Item                                       ...
Alcohol, Non-Food        38447     752497  ...    2348.00    2293.00
Alcoholic Beverages      75016    1649136  ...   95581.06   97847.27
Animal Products          18060     397035  ...   11547.65   11578.61
Animal fats              85279    1882494  ...  269617.53  269648.27
Apples and products      69280    1352989  ...   10198.90    9640.51
...                        ...        ...  ...        ...        ...
Vegetables, Other        77779    1518715  ...  157752.59  163987.21
Vegetal Products         18060     391905  ...  107655.20  107775.39
Wheat and products       87073    1639683  ...  240047.62  242645.19
Wine                     66206    1319535  ...    4178.02    4039.32
Yams                     50798     970905  ...  229174.59  221272.09

[119 rows x 8 columns]

In [3]:
meanValue = data['Y2015'].mean()

stdValue = data['Y2015'].std()

#Print out the mean and standard deviation value
print(f'{meanValue},{stdValue}')

135.23596649549236,1603.4039839423301

In [6]:
nullcount = data['Y2016'].isnull().sum()

#Print out The sum of missing datasets in the Year 2016
print(f'{nullcount}')


percent_missing = nullcount * 100 / len(data['Y2016'])


round_percent = round(percent_missing,2)

#Print out The percentage to 2 decimal places of missing datasets in the Year 2016
print(round_percent)

1535
2.52

In [15]:
#Checking the correlation between Element code and 2014 
cor_2014 = data['Element Code'].corr(data['Y2014']) 

print(round(cor_2014,4))

0.0245

In [16]:
#Checking the correlation between Element code and 2015
cor_2015 = data['Element Code'].corr(data['Y2015']) 

print(round(cor_2015,4))

0.0239

In [17]:
#Checking the correlation between Element code and 2016
cor_2016 = data['Element Code'].corr(data['Y2016']) 

print(round(cor_2016,4))

0.0234

In [18]:
#Checking the correlation between Element code and 2015
cor_2017 = data['Element Code'].corr(data['Y2017']) 

print(round(cor_2017,4))

0.0243

In [19]:
#Checking the correlation between Element code and 2015
cor_2018 = data['Element Code'].corr(data['Y2018']) 

print(round(cor_2018,4))

0.0243

In [25]:
#Obtaining the Data for each Year by grouping By Element  

year_2014 = data.groupby('Element')['Y2014'].sum()

print(year_2014)
print('\n\n')

year_2015 = data.groupby('Element')['Y2015'].sum()

print(year_2015)
print('\n\n')

year_2016 = data.groupby('Element')['Y2016'].sum()

print(year_2016)
print('\n\n')

year_2017 = data.groupby('Element')['Y2017'].sum()

print(year_2017)
print('\n\n')

year_2018 = data.groupby('Element')['Y2018'].sum()

print(year_2018)
print('\n\n')

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64



Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64



Element
Domestic supply quantity                  2044842.70
Export Quantity                            151920.46
Fat supply quantity (g/capita/day)          10102.77
Feed                                       228958.65
Food                                      1247022.17
Food supply (kcal/capita/day)              451810.00
Food supply quantity (kg/capita/yr)         48985.28
Import Quantity                            286582.78
Losses                                     157787.00
Other uses (non-food)                       69563.68
Processing                                 280631.00
Production                                1943537.15
Protein supply quantity (g/capita/day)      11779.69
Residuals                                   37224.00
Seed                                        23389.20
Stock Variation                             33140.12
Total Population - Both sexes             1085107.00
Tourist consumption                            89.00
Name: Y2016, dtype: float64



Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64



Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [28]:
only_year_2018 = data[['Element','Y2018']].groupby('Element').sum()

print(only_year_2018)
print('\n\n')

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [41]:
#only_area_2018 = data.groupby('Area')[['Element','Y2018',]].groupby('Element')

only_area_2018 = data[['Area','Y2018']].groupby('Area').sum()
print(only_area_2018)
print('\n\n')

                                  Y2018
Area
Algeria                       341729.98
Angola                        235206.68
Benin                         124960.70
Botswana                       23129.08
Burkina Faso                  112970.72
Cabo Verde                     14622.60
Cameroon                      233022.93
Central African Republic       30101.57
Chad                           72282.24
Comoros                           59.84
Congo                          42005.53
CÃ´te d'Ivoire                 227018.00
Djibouti                       23718.96
Egypt                         852652.92
Eswatini                       55045.07
Ethiopia                      450788.86
Ethiopia PDR                       0.00
Gabon                          28339.38
Gambia                         23513.80
Ghana                         358915.64
Guinea                        103262.08
Guinea-Bissau                  18997.92
Kenya                         270916.80
Lesotho                        19109.23
Liberia                        29629.83
Madagascar                    134576.44
Malawi                        187366.09
Mali                          159026.42
Mauritania                    157479.95
Mauritius                      47150.91
Morocco                       399271.27
Mozambique                    164934.05
Namibia                        29350.04
Niger                         133982.86
Nigeria                      1499774.24
Rwanda                         74839.08
Sao Tome and Principe          12806.49
Senegal                        95493.82
Seychelles                       442.34
Sierra Leone                   55981.73
South Africa                  509787.97
Sudan                         268054.39
Sudan (former)                     0.00
Togo                           54872.00
Tunisia                       127343.17
Uganda                        222147.25
United Republic of Tanzania   349763.41
Zambia                        101604.27
Zimbabwe                       76581.41

In [35]:
#Total number of unique countries in DataFrame 

unique_countries = data.groupby('Area')[['Area']]

unique_countries_len = len(unique_countries)

print(unique_countries_len)
print('\n\n')

49